* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: #DDD;
	font-size: 20px;
	text-align: center;
}

h3 {
	font-family: 'Oswald', sans-serif;
	color: #DDD;
	padding-bottom: 0;
	margin-bottom: 0;
}

body {
	cursor: default;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 5%;
	background: url("../img/wood.png");
}

.container {
	margin: auto;
	width : 100%;
	max-width: 900px;
}

.row:before, 
.row:after {
	content:"";
	display: table;
	clear:both;
}

.row {
	height: 100%;
	position: relative;
	margin-bottom: 20px;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	height: 100%;
	text-align: center; 
	display:block;
	position: relative;
}

.col-1 {
	width: 100%;
}

.col-2 {
	width: 50%;
}

.col-3 {
	width: 33.33%;
}

.col-4 {
	width: 24%;
}

.col-5 {
	width: 66.66%;
}

@media all and (max-width:800px){
	.col-1{ width: 100%; }
	.col-2{ width: 100%; }
	.col-3{ width: 100%; }
	.col-4{ width: 100%; }
	.col-5{ width: 100%; }
	#details { width: 80%;}

}

#sign-up-link {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

#sign-up-link:hover {
	cursor: pointer;

}

#img-title {
	max-width: 100%;
	height: auto;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#about {
	padding-left: 20px;
	text-align: left;
	line-height: 30px;
	color: #BBB;
	font-size: 14px;
}

.about-p {
	margin-top: 0;
}

.event-pic {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
    background-size: cover !important;
    background-position: center !important;

    -webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.event-pic:hover {
	-webkit-transform: scale(1.10);
	transform: scale(1.10);
	cursor: pointer;
}

.text {
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#blind {
	position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 1;
    display:none;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    overflow-y: scroll;
    display:none;
}

.noscroll {
	overflow: hidden;
}

#details {
	background-color: #FFF;
	margin: 8% auto;
	width : 70%;
	display:block;
	overflow:auto;
}

#head_img {
	height: 300px !important;
	background-size: cover !important;
	background-position: center !important; 
	position: relative;
}

.close {
	background: url('../img/close.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	margin: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
}


.event-title {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding: 10px;
	background: url('../img/black.png');
	color: #FFF;
	margin: 10px;
	float: left;
	font-size: 30px;
}


#content {
	font-size: 15px;
	line-height: 30px;
	padding: 20px;
}

.button {
	font-size: 18px;
	background-color: black;
	border-width: 1px;
	border-color: black;
	border-style: normal;
	height: 50px;
	width: 150px;
	color: white;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
}

.button:hover {
	cursor: pointer;
	opacity: .7;
}

.location {
	text-align: center;
	color: #DDD;
	font-size: 14px;
	padding: 20px;
	background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
	line-height: 20px;
	height: 140px;
	border: 1px solid white;
	margin-right: .5%;
	margin-left: .5%;
	/*background:linear-gradient(rgba(256, 256, 256, 0.6),rgba(256, 256, 256, 0.6));*/
}

#inactive {
	color: #555;
	cursor: not-allowed;
	border: 1px solid gray;
}

.inactive-state {
	opacity: 0.3;
}

#inactive:hover {
	/*cursor: not-allowed;*/
}

.location:hover {
	background:linear-gradient(rgba(256, 256, 256, 0.4),rgba(256, 256, 256, 0.4));
	cursor: pointer;
}

.location-info {
	font-size: 12px;
	font-style: italic;
}

#img-state {
	height: 20px;
	width: auto;
	margin-right: 5px;
}

form {
	color: #CCC;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: auto;
	/*padding-left: 50px;*/
	/*padding-right: 50px;*/
	width: 70%;
	padding-bottom: 70px;
}

.question {
	margin-bottom: 10px;
}


label {
	text-align: left;
}

input {
	width: 100%;
	background:linear-gradient(rgba(256, 256, 256, 0.2),rgba(256, 256, 256, 0.2));
	color: #FFF;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding: 5px;

}

input[type="checkbox"] {
	width: auto;
}

input[type="submit"] {
	color: #FFF;
	background:linear-gradient(rgba(256, 256, 256, 0.4),rgba(256, 256, 256, 0.4));
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 40px;
}

input[type="submit"]:hover {
	background:linear-gradient(rgba(256, 256, 256, 0.6),rgba(256, 256, 256, 0.6));
	color: #FFF;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

#cities {
	font-size: 11px;
}

#other {
	width: 80%;
	float: right;
	padding: 2px;
}

.footer {
	color: white;
	text-align: center;
}

.footer > a {
	color: white;
}